div {
    position: relative;
    overflow: hidden;
    border-radius: 36px;
}

div:before {
    content: "";
    display: block;
    position: absolute;
    width: 192px;
    height: 96px;
    background: linear-gradient(145deg, #fcdd2e, #fcb600);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
    z-index: 100;
}

div:after {
    content: "";
    display: block;
    position: absolute;
    width: 96px;
    height: 96px;
    bottom: 0;
    border-right: 96px solid #000;
    background-color: #f5f4f0;
}
